.header {
  background-color: rgba(137, 43, 226, 0.337);
  color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 30px;
}

/* .header:hover {
  background-color: #333;
} */

/* .header:hover * {
  color: white;
} */

.header__logo :hover {
  color: #ec7f7f;
}

.header__logo a {
  font-size: 1.5em;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.header__nav {
  display: flex;
}

.header__nav a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  margin: 0 5px;
}
