<h1>LOGIN</h1>
<div class="container">
  <form class="form" action="#">
    <div class="input">
      <label for="email">Email:</label>
      <input
        type="text"
        id="email"
        name="email"
        placeholder="Enter your email"
        required
      />
    </div>

    <div class="input">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter your password"
        required
      />
      <a routerLink="/forgot-password">Forget Password</a>
    </div>

    <input type="submit" value="Login" />
  </form>
</div>
